*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

header{
    padding: 20px;
    font-size: 15px;
    background-color: rgba(41, 41, 48, 0.151);
    color: white;
}

.cabecalho{
    position: relative;
    margin: 0 0 0 30px;   
}

nav {
    position: absolute;
    top:10px;
    right: 0;
}

nav li {
    display: inline-block;
    margin: 0 0 0 30px;    
}

.titulo{
    color: white;
}

.navbar{
    color: white;
    cursor: pointer;
}

.opcoes{
    list-style: none;
}

body{
    background: rgb(20,15,101);
    background: linear-gradient(90deg, rgba(20,15,101,1) 0%, rgba(84,46,221,1) 100%);
}

.secao{
    padding-left: 360px;
    position: absolute;
    width: 1200px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    -webkit-box-reflect: below 0 linear-gradient(transparent, rgba(0,0,0,0.3));
}

.fundo{
    background-color: rgba(41, 41, 48, 0.151);
    text-align: center;
    height: 150px;
    width: 150px;
    border-radius: 10px;
}

.contador{
    font-size: 80px;
    padding-top: 20px;
}

.texto{
    color:rgb(10, 0, 44);
}

.doispontos{
    font-size: 50px;
    margin-top: 50px;
    color:rgb(10, 0, 44);
}

.secao_crono{
    background-color: rgb(255, 255, 255, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 420px;
    width: 1200px;
    text-align: center;
    padding: 50px;
}

.fundo_crono{
    background-color: rgb(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 20px;
    width: 500px;
    margin-left: 27%;
    color: white;
}

.h1_crono{
    padding: 20px;
    color:rgb(10, 0, 44);
    font-style: italic;
    font-size: 40px;
}

.contador_crono{
    display: inline-block;
    font-size: 70px;
}

.doispontos_crono{
    font-size: 60px;
    color:rgb(10, 0, 44);
}

.botoes{
    padding: 5px;
}

.botao_crono{
    cursor: pointer;
    margin: 10px;
    border-radius: 10px;
    border-style: none;
    color: white;
    background-color: rgb(20,15,101);;
    height: 30px;
    width: 120px;
}

@media(max-width: 1080px){
    section{ width: 500px !important;}
    .secao{
        padding-left: 11px;
    }
    .fundo_crono{
        width: 400px;
        margin-left: 0%;
    }
}

@media(max-width: 560px){
    section{ width: 250px !important;}
    .secao{
        padding-left: 0px;
    }

    .cabecalho{
        position: relative;
        margin: 0 0 0 0px;   
    }
    
    nav {
        position: absolute;
        
    }
    
    nav li {
        display: inline-block;
        font-size: 13px;
        margin: 0 0 0 5px;    
    }

    .titulo{
        padding-top: 10px;
        font-size: 20px;
    }

    /*Editor do relógio*/
    .fundo{
        height: 100px;
    }
    .contador{
        font-size: 50px;
        padding-top: 20px;
    }
    .texto{
       font-size: 15px;
    }
    
    .doispontos{
        font-size: 50px;
        margin-top: 20px;
    }
    /*Editor do cronometro*/
    .h1_crono{
        font-size: 20px;
    }
    .contador_crono{
        font-size: 30px;
    }
    .doispontos_crono{
        font-size: 35px;
    }
    .fundo_crono{
        width: 200px;
        margin-left: -15%;
    }
}